{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags spots_extras %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_head %}

    <meta property="og:url"
          content="http://drypoetry.life/map/"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Dry Poetry : Spot Map"/>
    <meta property="og:description" content="Inclusive blow-cache"/>
    <meta property="og:image"
          content="http://drypoetry.life/static/img/map.jpg"/>

{% endblock %}
{% block content %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
    <div class="cell medium-9 large-9 text-center" style="height:100%;">
        <div id="map"></div>
    </div>
    <script>
        function initMap() {
            var uluru = {lat: 50.363, lng: 0.044};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: uluru
            });

            {% for spot in spots %}
                {% if spot.location %}
                    var locationString = "{{ spot.location }}";
                    var latlng = locationString.split(",");
                    console.log(latlng);

                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat(latlng[0]), lng: parseFloat(latlng[1])},
                        map: map,
                        title: '{{ spot.title|strip_newlines }}'
                    });

                    marker.addListener('click', function () {
                        window.location.href = '{{ spot.url }}';
                    });

                {% endif %}
            {% endfor %}
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
    </script>
{% endblock %}
