{% load static compress wagtailimages_tags wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block extra_head %}{% endblock %}
    {# Global stylesheets #}

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/main.scss" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}"/>
    {% endcompress %}


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

    <a class="logo-link navbar-brand" href="/"><img class="logo-image" src="{% static 'img/logo.jpg' %}"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/map/">Map</a>
            </li>
        </ul>
        <span class="navbar-text">
      Spot Safely
    </span>
    </div>
</nav>


{% block content %}{% endblock %}
{% comment %}
    <div class="grid-x">
    <div class="side-nav cell medium-3 large-3 text-center hide-for-small-only" style="height:100%;overflow-y:scroll;">
        <ul class="spot-list">
            {% for spot in spots %}
                <li><a href="{{ spot.url }}">{% image spot.image width-20 %}
                    {% if spot.title != "None" %}{{ spot.title|slice:':50' }}{% endif %}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endcomment %}


{# Global javascript #}
{% compress js %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/foundation.js' %}"></script>
    <script src="{% static 'masonry-layout/dist/masonry.pkgd.js' %}"></script>
    <script type='text/javascript' src="{% static "imagesloaded/imagesloaded.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/dry.js' %}"></script>
{% endcompress %}

{% block extra_js %}

{% endblock %}

<script>
    $(document).foundation();
</script>
</body>
</html>
