{% load static compress wagtailimages_tags wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Global stylesheets #}

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/main.scss" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/dry.css' %}">
    {% endcompress %}

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% comment %}
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>


    <div class="top-bar" id="main-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li></li>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="drilldown medium-dropdown">
                <li class="has-submenu">
                    <a href="#">One</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
    </div>
{% endcomment %}
<div class="grid-x">
    <div class="side-nav cell medium-3 large-3 text-center hide-for-small-only" style="height:100%;overflow-y:scroll;">
        <a class="logo-link" href="/"><img class="logo-image" src="{% static 'img/logo.jpg' %}"/></a>
        <div class="top-menu" style="float:left">
            ||| <a href="/">Home</a> ||| <a href="/map/">Map</a>
        </div>

        <ul class="spot-list">
            {% for spot in spots %}
                <li><a href="{{ spot.url }}">{% image spot.image width-20 %}
                    {% if spot.title != "None" %}{{ spot.title|slice:':50' }}{% endif %}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% block content %}{% endblock %}

    {# Global javascript #}
    {% compress js %}
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'foundation-sites/dist/js/foundation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dry.js' %}"></script>
    {% endcompress %}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

    <script>
        $(document).foundation();
    </script>
</body>
</html>
